# 9.3 Class Average: Writing Student Records to a CSV File

In [1]:
import csv

with open('grades.csv',mode = 'w', newline = '') as grades:
    writer = csv.writer(grades)
    writer.writerow(['Jones', 'Doe', 90, 100, 97])
    writer.writerow(['Jones', 'Doe', 90, 100, 97])
    writer.writerow(['White', 'Stone', 80, 97, 98])
    writer.writerow(['Sue', 'Rich', 78, 97, 99])

# 9.4 Class Average: Reading Student Records from a CSV File

In [2]:
with open('grades.csv', 'r', newline='') as grades:
    reader = csv.reader(grades)
    for record in reader:
        firstname, lastname, exam1grade, exam2grade, exam3grade = record
        print(f'{firstname:<10}{lastname:<10}{exam1grade:<10}{exam2grade:<10}{exam3grade:<10}')

Jones     Doe       90        100       97
Jones     Doe       90        100       97
White     Stone     80        97        98
Sue       Rich      78        97        99

# 9.16 Data Science: Working with the diamonds.csv

b) Load the dataset into a pandas DataFrame

In [3]:
import pandas as pd
df=pd.read_csv("~/Downloads/diamonds.csv",
               index_col=0)

c) Display the first seven rows of the DataFrame.

In [4]:
df.head(7)

   carat        cut color clarity  depth  table  price     x     y     z
1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47

d) Display the last seven rows of the DataFrame.

In [5]:
df.tail(7)

       carat        cut color clarity  depth  table  price     x     y     z
53934   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

e) Use the DataFrame method describe (which looks only at the numerical columns)

In [6]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

f) Use Series method describe to calculate the descriptive statistics for the categorical data (text) columns—cut, color and clarity.

In [7]:
df.color.describe()

count     53940
unique        7
top           G
freq      11292
Name: color, dtype: object

In [8]:
df.cut.describe()

count     53940
unique        5
top       Ideal
freq      21551
Name: cut, dtype: object

In [9]:
df.clarity.describe()

count     53940
unique        8
top         SI1
freq      13065
Name: clarity, dtype: object

g) What are the unique category values (use the Series method unique)?

In [10]:
df.color.unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [11]:
df.cut.unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [12]:
df.clarity.unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

h) Execute the %matplotlib magic to enable Matplotlib support in IPython.

In [13]:
%matplotlib
histogram = df.hist()

Using matplotlib backend: MacOSX

# 9.18 Project: Anscombe’s Quartet CSV

### How do I display the four plots side by side? When I execute the above code, I do see four plots but there isn't any data point shown on the graph.

In [14]:
df=pd.read_csv("~/Downloads/Anscombe_quartet_data.csv",
               index_col=0)

In [15]:
df.reset_index(level=0, inplace=True)

In [16]:
df.head()

   x123    y1    y2     y3   x4    y4
0  10.0  8.04  9.14   7.46  8.0  6.58
1   8.0  6.95  8.14   6.77  8.0  5.76
2  13.0  7.58  8.74  12.74  8.0  7.71
3   9.0  8.81  8.77   7.11  8.0  8.84
4  11.0  8.33  9.26   7.81  8.0  8.47

In [30]:
import matplotlib.pyplot as plt

In [31]:
ax1 = df.plot.scatter('x123','y1')
ax2 = df.plot.scatter('x123','y2')
ax3 = df.plot.scatter('x123','y3')
ax4 = df.plot.scatter('x4','y4')

In [32]:
fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(2, 2)
fig.show()

# 9.6 Class Average: Writing a Gradebook Dictionary to a JSON File

In [34]:
grades_dict = {'grades':[
    {'firstname':'Jones', 'lastname': 'Doe', 'exam1grade': 90, 
     'exam2grade': 100, 'exam3grade' : 97},
    {'firstname':'White', 'lastname': 'Stone', 'exam1grade': 80, 
     'exam2grade': 97, 'exam3grade' : 98},
    {'firstname':'Sue', 'lastname': 'Rich', 'exam1grade': 78, 
     'exam2grade': 97, 'exam3grade' : 99}]}
import json
with open('grades.json','w') as grades:
    json.dump(grades_dict, grades)

# 9.7 Class Average: Reading a Gradebook Dictionary from a JSON File

Reimplement
Exercise 9.4 using the json module to read the grades.json file created in the previous
exercise. Display the data in tabular format, including an additional column showing each
student’s average to the right of that student’s three exam grades and an additional row
showing the class average on each exam below that exam’s column.

In [38]:
with open('grades.json','r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "grades": [
        {
            "firstname": "Jones",
            "lastname": "Doe",
            "exam1grade": 90,
            "exam2grade": 100,
            "exam3grade": 97
        },
        {
            "firstname": "White",
            "lastname": "Stone",
            "exam1grade": 80,
            "exam2grade": 97,
            "exam3grade": 98
        },
        {
            "firstname": "Sue",
            "lastname": "Rich",
            "exam1grade": 78,
            "exam2grade": 97,
            "exam3grade": 99
        }
    ]
}

# 10.2 Account Class with Read-Only Properties

In [57]:
from decimal import Decimal
class Account:
    """Account class for maintaining a bank account balance."""
    def __init__(self, name, balance):
        """Initialize an Account object."""
        self._name = name
        self._balance = balance
        
    @property
    def name(self):
        return self._name
    
    @property
    def balance(self):
        return self._balance

In [59]:
Account1 = Account('Nathan', 10000)

In [61]:
Account1.name = 'Katie'

AttributeError: can't set attribute

# 10.5 Duck Typing

In [68]:
from decimal import Decimal

In [64]:
from commissionemployee import CommissionEmployee

In [66]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [75]:
CE = CommissionEmployee('Sue','Jones','333-33-3333',
                      Decimal('10000.00'),Decimal('0.06'))

In [76]:
SCE = SalariedCommissionEmployee('Bob','Lewis','444-44-4444',
                      Decimal('5000.00'),Decimal('0.04'),Decimal('300.00'))

In [85]:
class SalariedEmployee():
    """Class representing an employee an employee that gets paid a fixed weekly salary"""

    def __init__(self, first_name, last_name, ssn, weekly_salary):
        """Initialize SalariedEmployee attributes."""
        self._first_name = first_name
        self._last_name = last_name
        self._ssn = ssn
        self.weekly_salary = weekly_salary

    @property
    def first_name(self):
        return self._first_name

    @property
    def last_name(self):
        return self._last_name
    
    @property
    def ssn(self):
        return self._ssn
    
    @property
    def weekly_salary(self):
        return self._weekly_salary

    @weekly_salary.setter
    def weekly_salary(self, weekly_salary):
        """Set weekly_salary or raise ValueError if invalid."""
        if weekly_salary < Decimal('0.0'):
            raise ValueError('Weekly salary must be >= 0.0')
        
        self._weekly_salary = weekly_salary
        
    def earnings(self):
        """Calculate earnings."""
        return self.weekly_salary

    def __repr__(self):
        """Return string representation for repr()."""
        return ('SalariedEmployee: ' + 
                f'\nWeekly salary: {self.weekly_salary:.2f}')

In [86]:
SE = SalariedEmployee('Nathan','Sanders','555-55-5555',Decimal('5000.00'))

In [87]:
employees = [CE, SCE, SE]

In [88]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

SalariedEmployee:
Weekly salary: 5000.00
5,000.00