# Scotch whisky selection design

In [1]:
import pandas as pd
import numpy as np

In [12]:
info = pd.read_csv("whiskies-attributes-prices.csv")
rt = pd.read_csv("whiskies-utilities.csv")

# Part 2: Solving the problem

In [13]:
rt['NoPurchase'] = 27
rt_arr = np.array(rt)

In [4]:
nProducts = 86
nCustomers = 100

In [15]:
def expected_rev(S):
    S2 = np.append(S, nProducts)
    
    choice_probabilities = {}
    for i in S2:
        choice_probabilities[i] = 0.0;
    
    for k in range(nCustomers):
        ind = np.argmax(rt_arr[k,S2])
        choice_probabilities[ S2[ind] ] += 1.0/nCustomers
        
    exp_profit = sum( [choice_probabilities[i] * info['Price'][i] for i in S])
        
    return exp_profit, choice_probabilities

In [6]:
from gurobipy import *

m = Model()

# Create the decision variables
x = m.addVars(nProducts, vtype = GRB.BINARY )
y = m.addVars(nCustomers, nProducts+1, vtype = GRB.BINARY)

# Create the constraints:
print("Creating constraints:")
for k in range(nCustomers):
    m.addConstr( sum(y[k,i] for i in range(nProducts+1)) == 1)
    for i in range(nProducts):
        m.addConstr( y[k,i] <= x[i] )
        m.addConstr( quicksum( rt_arr[k,j] * y[k,j] for j in range(nProducts+1)) >= rt_arr[k,i] * x[i] + rt_arr[k,nProducts]*(1 - x[i]))
    m.addConstr( quicksum( rt_arr[k,j] * y[k,j] for j in range(nProducts+1)) >= rt_arr[k,nProducts] )



# Create the objective:
print("Creating objective:")
m.setObjective( quicksum(info['Price'][i] * 1.0/nCustomers * y[k,i] for k in range(nCustomers) for i in range(nProducts)), GRB.MAXIMIZE)

# Update and solve
m.update()

print("Update completed")
m.optimize()


S_optimal = [i for i in range(nProducts) if x[i].x > 0.5]
print("Optimal set of products: ", S_optimal)

optimal_profit = m.objval
print("Optimal profit: ",optimal_profit)

Using license file /Users/wjq/gurobi.lic
Academic license - for non-commercial use only - expires 2021-08-08
Creating constraints:
Creating objective:
Update completed
Gurobi Optimizer version 9.1.0 build v9.1.0rc0 (mac64)
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 17400 rows, 8786 columns and 339435 nonzeros
Model fingerprint: 0x2de495af
Variable types: 0 continuous, 8786 integer (8786 binary)
Coefficient statistics:
  Matrix range     [2e-04, 6e+01]
  Objective range  [3e-01, 5e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+01]
Presolve removed 12492 rows and 6276 columns
Presolve time: 0.77s
Presolved: 4908 rows, 2510 columns, 55559 nonzeros
Variable types: 0 continuous, 2510 integer (2510 binary)
Found heuristic solution: objective 107.5200000

Root relaxation: objective 1.345310e+02, 654 iterations, 0.05 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  134.53104    0  345  107.52000  134.53104  25.1%     -    1s
H    0     0                     120.7600000  134.53104  11.4%     -    1s
H    0     0                     123.4800000  134.53104  8.95%     -    1s
H    0     0                     123.8800000  134.53104  8.60%     -    1s
H    0     0                     124.3800000  134.53104  8.16%     -    1s
H    0     0                     124.5300000  134.53104  8.03%     -    1s
H    0     0                     124.7400000  134.52604  7.85%     -    1s
H    0     0                     127.0500000  134.52604  5.88%     -    1s
     0     0  132.35736    0  283  127.05000  132.35736  4.18%     -    1s
H    0     0                     129.2000000  132.35736  2.44%     -    1s
H    0     0                     129.3700000  132.35736  2.31%     -    1s
     0     0  132.30627    0  335  129.37000  132.30627  2.27%     -    1s
     0     0  132.30138    0  275  129.37000  132.30138  2.27%     -    1s
     0     0  132.29572    0  339  129.37000  132.29572  2.26%     -    1s
     0     0  132.29572    0  338  129.37000  132.29572  2.26%     -    1s
H    0     0                     130.0500000  132.29572  1.73%     -    2s
     0     0  131.65586    0  348  130.05000  131.65586  1.23%     -    2s
     0     0  131.48220    0  337  130.05000  131.48220  1.10%     -    2s
     0     0  131.46462    0  347  130.05000  131.46462  1.09%     -    2s
     0     0  131.46351    0  374  130.05000  131.46351  1.09%     -    2s
     0     0  131.46317    0  325  130.05000  131.46317  1.09%     -    2s
     0     0  131.26311    0  350  130.05000  131.26311  0.93%     -    2s
     0     0  131.24725    0  344  130.05000  131.24725  0.92%     -    2s
     0     0  131.24408    0  354  130.05000  131.24408  0.92%     -    2s
     0     0  131.24366    0  356  130.05000  131.24366  0.92%     -    2s
     0     0  131.09979    0  346  130.05000  131.09979  0.81%     -    2s
     0     0  131.00135    0  348  130.05000  131.00135  0.73%     -    2s
     0     0  131.00135    0  348  130.05000  131.00135  0.73%     -    2s
     0     0  131.00135    0  349  130.05000  131.00135  0.73%     -    2s
     0     0  130.65381    0  381  130.05000  130.65381  0.46%     -    3s
H    0     0                     130.3500000  130.65381  0.23%     -    3s
     0     0  130.65381    0  373  130.35000  130.65381  0.23%     -    3s
     0     0  130.60226    0  365  130.35000  130.60226  0.19%     -    3s
     0     0  130.60226    0  371  130.35000  130.60226  0.19%     -    3s

Cutting planes:
  Gomory: 4
  Implied bound: 1
  Clique: 141
  MIR: 2
  Zero half: 54
  RLT: 107

Explored 1 nodes (3853 simplex iterations) in 3.31 seconds
Thread count was 8 (of 8 available processors)

Solution count 10: 130.35 130.05 129.37 ... 123.48

Optimal solution found (tolerance 1.00e-04)
Best objective 1.303500000000e+02, best bound 1.303500000000e+02, gap 0.0000%
Optimal set of products:  [6, 9, 10, 11, 18, 32, 57, 58, 64, 70, 82]
Optimal profit:  130.35000000000008

In [26]:
# Verify that optimal profit is correct:
exp_profit_S_optimal, choice_probabilities_S_optimal = expected_rev( S_optimal )
print("Optimal profit (via expected_profit): ", exp_profit_S_optimal)


for i in choice_probabilities_S_optimal.keys():
    print(rt.columns[i] + ": " + str(choice_probabilities_S_optimal[i]) )

Optimal profit (via expected_profit):  130.35
Auchentoshan: 0.07
Balblair: 0.060000000000000005
Balmenach: 0.05
Balvenie: 0.05
Bowmore: 0.08
GlenDeveronMacduff: 0.07
Lagavulin: 0.24000000000000007
Laphroaig: 0.07
Miltonduff: 0.13999999999999999
RoyalLochnagar: 0.07
Tomatin: 0.02
NoPurchase: 0.08

# Part 3 Balancing the whisky selection

In [31]:
for i in choice_probabilities_S_optimal.keys():
    if i != 86:
        print(rt.columns[i], info.iloc[i,4])

Auchentoshan 0
Balblair 1
Balmenach 0
Balvenie 0
Bowmore 1
GlenDeveronMacduff 1
Lagavulin 4
Laphroaig 4
Miltonduff 0
RoyalLochnagar 0
Tomatin 0

# Part 4: Extending the formulation

In [37]:
for i in range(nProducts):
    if rt.columns[i] == 'Ardbeg':
        print('Ardbeg',i+1)
    elif rt.columns[i] == 'Bowmore':
        print('Bowmore', i+1)
    elif rt.columns[i] == 'Oban':
        print('Oban', i+1)
    elif rt.columns[i] == 'Talisker':
        print('Talisker', i+1)

Ardbeg 4
Bowmore 19
Oban 67
Talisker 78

In [39]:
info

,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Price
0,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,45
1,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,86
2,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,52
3,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,60
4,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Tobermory,1,1,1,0,0,1,0,0,1,2,2,2,105
82,Tomatin,2,3,2,0,0,2,2,1,1,2,0,1,35
83,Tomintoul,0,3,1,0,0,2,2,1,1,2,1,2,90
84,Tormore,2,2,1,0,0,1,0,1,2,1,0,0,110
85,Tullibardine,2,3,0,0,1,0,2,1,1,2,2,1,78